{{ if site.Params.theme_config.isShowFooter }}
    {{ $footerContent := readFile "layouts/footer.md" }}
    {{ if and $footerContent (ne $footerContent "") }}
        {{ $footerContent | markdownify }}
    {{ else }}
        <footer class="site-footer">
            {{- if not site.Params.footer.hideCopyright }}
            {{- if site.Copyright }}
            <span>{{ site.Copyright | markdownify }}</span>
            {{- else }}
            <span>&copy; {{ site.Params.since }} - {{ now.Year }} ~ <a href="{{ "/about" | absLangURL }}">{{ site.Title }}</a></span>
            {{- end }}
            {{- print " ~ "}}
        {{- end }}
    
        {{- with site.Params.footer.text }}
            {{ . | markdownify }}
            {{- print " · "}}
        {{- end }}
        </footer>
    {{ end }}
{{ end }}
